@import "../../../../mixins.scss";
.navbar {
  height: var(--header_height);
  background-color: #fff !important;
  .container-fluid {
    background-color: #fff !important;
  }
  .navbar-nav {
    .dropdown-menu {
      border: none;
      border-bottom: 2px solid #f34949;
      border-radius: 0 !important;
      box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15);
    }
    .nav-item {
      margin: 0 0.5rem;
      .nav-link {
        color: #000;
      }

      font-size: 1.2rem;
      &:hover {
        > a {
          text-decoration: none;
          color: #e22104;
        }
      }
    }
  }
  img {
    height: 60px;
  }
  .navbar-brand-center {
    padding-left: 70px;
    padding-right: 70px;
    display: none !important;
    @include lg {
      display: block !important;
    }
  }

  @include lg {
    .navbar-nav {
      width: 50%;
    }
    .dropdown {
      .dropdown-menu {
        display: block;
        opacity: 0;
        transition: all 500ms ease;
      }
      &:hover .dropdown-menu {
        display: block;
        opacity: 1;
      }
    }
    .navbar-brand {
      display: none;
    }
  }
}
