<div class="page-container">
  <form class="login col-12 col=sm-6 col-lg-5" [formGroup]="loginForm">
    <h1 class="title">Sign in</h1>
    <input
      class="input"
      type="text"
      required="true"
      placeholder="Email"
      formControlName="logEmail"
    />
    <input
      class="input"
      type="password"
      required="true"
      placeholder="Password"
      formControlName="logPassword"
    />
    <app-primary-button
      [isLoading]="isLoginClick"
      content="Sign in"
      (click)="login()"
    ></app-primary-button>
  </form>
</div>
